<div style="background-color: #100a2aaa;">
<table>
    <tr> 
        
            
            <td><img src="{{ follow_post.avatar(36) }}"></td>
        <td>
            
            {{follow_post.username}}：

               <p style="color: #f8f7f7;">{{ follow_post.username }}
            </a>
            {{ moment(follow_post.timestamp).fromNow() }}:{{follow_post.body }}
        </p> 
            
                
            
       
        </td>

       
        
    </tr>   
</table>
</div>